name: Build WB-NEXUS APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          flutter-version: '3.27.0'

      - name: Build APK
        run: |
          pip install flet
          # We MUST include --assets assets so the JSON folder is built into the APK
          yes | flet build apk main.py --assets assets --product "WB-NEXUS"

      - name: Rename and Upload
        run: |
          mv build/apk/*.apk WB-NEXUS-Final.apk

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: WB-NEXUS-V1
          path: WB-NEXUS-Final.apk
