name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install Specific Flet Version
      # This forces the stable version defined in requirements.txt
      run: pip install -r requirements.txt

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0'

    - name: Build APK
      run: |
        flet build apk --verbose --product "WB-NEXUS"

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: wb-nexus-test
        path: build/**/*.apk
